<!DOCTYPE html>
<html lang="en" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Items</title>
    <link rel="icon" type="image/ico" th:href="@{favicon.ico}">
</head>
<body>
<h1 th:text="|Items in store|"></h1>
<ol>
    <span th:each="item, iter : ${items}">
        <li th:text="${item.name + ' '  + item.price + ' ' + item.category.name}"></li>
        <form action="#" th:action="@{'/items/deleteItem/{id}'(id=${iter.index})}" th:method="delete">
            <input type="hidden" name="_method" value="delete" />
            <button type="submit" >Delete</button>
        </form>
<!--        <form action="#" th:action="@{'/cart/addItemToCart')}" th:method="post">-->
        <form action="#" th:action="@{'/cart/addToCart/{id}'(id=${iter.index})}" th:object="${itemForForm}" method="post">
            <p><input type="submit" value="Submit" /></p>
        </form>
    </span>
</ol>
<a th:href="@{addItem}">Add item</a>

</body>
</html>