<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.1/css/bootstrap.min.css} "/>
</head>
<body>
<div th:fragment="menu">
    <div th:with="current=${#strings.substringAfter(#httpServletRequest.requestURI,#httpServletRequest.getContextPath())}">
        <a th:if="${current=='/items/'}" th:text="#{menu.print_all.msg}">Print items</a>
        <a th:if="${current!='/items/'}" th:href="@{/items/}" th:text="#{menu.print_all.msg}">Print items</a>
        <a th:if="${current=='/cart/'}"  th:text="#{menu.show_cart.msg}">Show cart</a>
        <a th:if="${current!='/cart/'}" th:href="@{/cart/}" th:text="#{menu.show_cart.msg}">Show cart</a>
        <a th:if="${current=='/items/category/add'}"  th:text="'Add category'">Add category</a>
        <a th:if="${current!='/items/category/add'}" th:href="@{/items/category/add}" th:text="'Add category'">Add category</a>
<!--        <a th:if="${current=='/items/search/'}"  th:text="#{menu.search_items.msg}">Search items</a>-->
<!--        <a th:if="${current!='/items/search/'}" th:href="@{/items/search/}" th:text="#{menu.search_items.msg}">Search items</a>-->
    </div>
</div>
<footer><a th:href="@{/}">Go to the main page</a></footer>
</body>
</html>